# Print Statement

In [1]:
print("Hello World!")

Hello World!

In [1]:
print("Hello World!")

Hello World!

# Variables

### Conventions

###### Variable names cannot be enclosed

###### they cannot be ONLY python keywords

###### they cannot be spaced

###### They cannot be ONLY numbers

###### Number cannot come first in the variable name

###### Variable name can contain only letters, numbers, and underscores

###### Beware of Capital letters ---> Rose =! rose

###### Use of Underscore for breaking up variable words ---> for readablility

In [ ]:
# [variable_name]  -- wrong method
# variable = 123  -- wrong method
# var iable 123 = -- wrong method
# 1234 = -- wrong method
# 1234variable = --wrong method
#

### Strings or text strings

In [2]:
text = "Hello, World!"

In [3]:
print(text)

Hello, World!

In [4]:
text = "overwrite"   # overwriting variable value

In [5]:
print(text)

overwrite

### Numbers

In [6]:
numbers = 150

In [7]:
print(numbers)

150

In [8]:
numbers + 25

175

In [9]:
added_numbers = numbers + 25

In [10]:
print(added_numbers)

175

In [11]:
new_num = numbers + added_numbers

In [12]:
print(new_num)

325

In [13]:
numbers = numbers + 50

In [14]:
print(numbers)

200

In [15]:
float_variable = 1.0000000009

In [16]:
print(float_variable)

1.0000000009

### Math Expressions : Familiar Operators

###### + (add)

###### - (subtract)

###### * (multiply)

###### / (divide)   --------->  division gives answer in float

In [17]:
ex_num = 4

In [18]:
print(ex_num)

4

In [19]:
ex_num_add = 2 + 2   # addition example

In [20]:
print(ex_num_add)

4

In [21]:
print(2 + 2)

4

In [22]:
loss = 12 - 24    # assigning negative values

In [23]:
print(loss)

-12

In [24]:
ex_num_mul = 3 * 2  # multiply example

In [25]:
print(ex_num_mul)

6

In [26]:
ex_num_div = 6 / 2  # division example

In [27]:
print(ex_num_div)

3.0

In [28]:
float_ex = 0.75

In [29]:
float_add_ex = float_ex + 200

In [30]:
print(float_add_ex)

200.75

In [31]:
total_float = ex_num + float_ex

In [32]:
print(total_float)

4.75

In [1]:
float1 = 1.5 + 1.5
float1   # Always float answer

3.0

### Math Expressions : Unfamiliar Operators

###### % (Modulus)   --> Remainder

###### += (Increment)

###### -= (decrement)

###### *= (multiple)

###### /= (division)

###### initial += inc_amount --> variable usage

###### ==  (comparsion)

###### = (assignment)

In [33]:
remainder = 9%3

In [34]:
print(remainder)

0

In [35]:
age = 20

In [36]:
age = age + 1

In [37]:
print(age)

21

In [38]:
age += 1

In [39]:
print(age)

22

In [40]:
cost = 200

In [41]:
cost -= 20

In [42]:
print(cost)

180

In [43]:
dozens = 3

In [44]:
dozens *= 12

In [45]:
print(dozens)

36

In [46]:
dozens /= 3

In [47]:
print(dozens)

12.0

In [48]:
discount = 20

In [49]:
cost

180

In [50]:
cost -= discount
cost

160

### Eliminating Ambiguity

###### USE PARENTHESIS

### Concatenation of Strings

###### USE (+) to concatenate ------> attachment from end

In [20]:
first_name = "Muhammad"

In [19]:
last_name = "Haris"

In [21]:
full_name = first_name + " " + last_name

In [22]:
print(full_name)

Muhammad Haris

###### Numbers and Strings cannot be concatenated together

In [55]:
currency_amount = "200"

In [56]:
currency_symbol = "PKR"

In [57]:
currency = currency_symbol + " " + currency_amount

In [58]:
print(currency)

PKR 200

### IF Statements

In [59]:
animal = "cat"

In [60]:
if animal == "cat":
    status = "ok"
    kingdom = "animal"
    print("cat is an animal")

cat is an animal

In [61]:
print(status)

ok

### Comparison Operator

###### == (equality comparison)

###### != (inequality comparison)

###### > (greater comparison)

######  < (lesser comparison)

###### >= (greater than equals to)

###### <= (lesser than equals to)

In [62]:
animal = "cat"

In [63]:
if animal == "cat":
    print("cat is an animal")

cat is an animal

In [64]:
if animal != "dog":
    print("python is idiot")

python is idiot

In [65]:
if 6 > 2:
    print("python knows maths")

python knows maths

In [66]:
if 6 < 8:
    print("python knows maths")

python knows maths

In [67]:
if 6 >= 5:
    print("python knows maths")

python knows maths

In [68]:
if 6 >= 6:
    print("python knows maths")

python knows maths

In [69]:
if 6 <= 8:
    print("python knows maths")

python knows maths

In [70]:
if 6 >= 6:
    print("python knows maths")

python knows maths

### else and elif Statements

###### if you want only one test

In [71]:
if animal != "cat":
    print("python shocks")
#elif animal == "cheetah":           # elif works if test before it fails
   # print("python is an idiot")     # if elif passes then tests after it will be ignored
else:
    print("cat is an animal")

cat is an animal

###### if you want more than one test

In [72]:
toffee_reward = 0
python_test_marks = 90
numpy_test_marks = 90
pandas_test_marks = 90


if python_test_marks >= 90:
    toffee_reward += 10
if numpy_test_marks  >= 90:
    toffee_reward += 20
if pandas_test_marks >= 90:
    toffee_reward += 50

In [73]:
print(toffee_reward)

80

### and Condition

###### One can use unlimited and / or conditions in an if statement

###### when two conditions MUST be satisfied in order to pass the test

In [1]:
per = 81
gpa = 3.71

if per >= 80 and gpa >= 3.7:
    print("Hire Him!")

Hire Him!

### or Condition

###### when either of the condition MUST be satisfied in order to pass the test

In [3]:
experienced = True
salary_demand = 50000

if experienced == True or salary_demand == 50000:
    print("At least one desearves a try!")

At least one desearves a try!

### and + or Conditions

###### Use Parenthesis to avoid ambiguity(confusion)

In [5]:
if (experienced == True or creative == True) and salary_demand == 50000:
    print("Go for it!")

Go for it!

### if statements nested

In [4]:
c = d = 8     # focus on this line
x = y = 9
h = []
e = []
f = 235
if c == d:
    if x == y:
        g = h
    elif a == b:
        g = h
    else:
        e = t
else:
    e = f

In [5]:
e

[]

In [79]:
c = 5        # focus on this line
d = 8
x = y = 9
h = []
e = []
f = 235
if c == d:
    if x == y:
        g = h
    elif a == b:
        g = h
    else:
        e = t
else:
    e = f

In [80]:
e

235

### comments

In [81]:
# makes comment in python, that will not be treated as a code

In [82]:
'''
for multiple lines comments
for multiple lines comments
for multiple lines comments
for multiple lines comments
'''

'\nfor multiple lines comments\nfor multiple lines comments\nfor multiple lines comments\nfor multiple lines comments\n'

### lists

###### initialize by large bracks = [                             ]

###### lists are hetrogenous

###### (,) seperator

###### index always starts from (0)

###### 5th element of the list will have index 4  (index = (position. of element) - 1)

###### use list names in plural forms

In [24]:
subjects = ["maths","english","computer science", "finance"]

In [25]:
print(subjects)

['maths', 'english', 'computer science', 'finance']

In [26]:
print(subjects[0])

maths

### Adding and changing lists

###### list[index] = new value

###### list.append(value)     ---> for single item and joins from the end

###### list_variable + list  ---> for multiple item

###### list.insert(index, value) --> joins from anywhere with respect to index

In [27]:
subjects[3] = "Engineering"    # changing lists
                             # index takes [position number]

In [28]:
subjects

['maths', 'english', 'computer science', 'Engineering']

In [30]:
subjects.append("Statistics")   # to add single item to list
                                # append takes (value) 
                                 # joins from the end

In [31]:
print(subjects)

['maths', 'english', 'computer science', 'Engineering', 'economics', 'Statistics']

In [32]:
qualifications = ["matric" , "inter"]

In [33]:
print(qualifications)

['matric', 'inter']

In [34]:
qualifications = qualifications + ["B.E" , "M.Com"]  # to add multiple items

In [35]:
print(qualifications)

['matric', 'inter', 'B.E', 'M.Com']

In [36]:
shopping_bag = []

In [37]:
print(shopping_bag)

[]

In [38]:
shopping_bag = shopping_bag + ["oranges","apples"] # to fill empty list

In [39]:
print(shopping_bag)

['oranges', 'apples']

In [40]:
numbers = [2,3,4,5]

In [41]:
numbers.insert(0, 1)     # to insert anywhere in the list according to index

In [42]:
print(numbers)

[1, 2, 3, 4, 5]

In [43]:
languages = ["C#", "C++", "Python", "Java"]

In [44]:
languages.insert(3, "Swift")

In [45]:
print(languages)

['C#', 'C++', 'Python', 'Swift', 'Java']

### Slicing

###### [ start : end + 1 ] ---> slicing via index

###### [start : ] ---> to very end

###### [ : end + 1] ---> from the very beginning

In [104]:
lang_to_learn = languages[1:4]  # to slice out the list

In [105]:
print(lang_to_learn)

['C++', 'Python', 'Swift']

In [106]:
seen_lang = languages[:5]  # from the very first element

In [107]:
print(seen_lang)

['C#', 'C++', 'Python', 'Swift', 'Java']

In [108]:
mobile_lang = languages[3:]   # to the very last element

In [109]:
print(mobile_lang)

['Swift', 'Java']

### deleting and removing elements

###### del uses [ index ]    --->  index no.

###### remove( value )  ---> value

###### pop( index ) ---> slice out and can be inserted into other variable

###### pop(  ) ---> slice out the last element and can be inserted into other variable

In [110]:
number_series = [1,2,3,9,4]

In [111]:
del number_series[3]  # Cannot transfer deleted element into another variable
                        # To delete via index no.

In [112]:
number_series

[1, 2, 3, 4]

In [113]:
number_series.remove(4)  # Can remove with value

In [114]:
number_series

[1, 2, 3]

In [115]:
three = number_series.pop(2)

In [116]:
three = [three]

In [117]:
number_series = number_series + three

In [118]:
print(number_series)

[1, 2, 3]

In [119]:
alphabets = ["a", "b", "c", "d"]

In [120]:
new_alpha = alphabets.pop(1)

In [121]:
new_alpha

'b'

In [122]:
alphabets.append(new_alpha)
alphabets

['a', 'c', 'd', 'b']

In [123]:
alphabets.insert(1, alphabets.pop(3))
alphabets

['a', 'b', 'c', 'd']

### tuple

###### Cannot be altered 
###### But CAN BE SLICED OUT because of squence type nature like LISTS.

In [10]:
tuple_ex = (1,2,3,4,5)
tuple_ex

(1, 2, 3, 4, 5)

In [11]:
tuple_ex[0]

1

In [12]:
tuple_ex[1:4]

(2, 3, 4)

### for loop

In [126]:
my_list = [1,2,3,4,5,2]
my_list

[1, 2, 3, 4, 5, 2]

In [127]:
for element in my_list:
    if 2 == element:
        print("it works!") # without break will continue searching untill all matches will be found

it works!
it works!

### break

###### it is used to stop for loop to search all of the list

In [128]:
for element in my_list:
    if 2 == element:
        print("it works!")
        break   # to only search for one time match

it works!

### nested for loops

In [24]:
list1 = [1,2,3,4,5]
list2 = ["a","b"]
intalpha = []

In [25]:
i = 0
for i in list1:    # count of iterations - initial 
    for k in list2:      # count of iteration - multiple 
        intalpha.append(k)
len(intalpha) # initail iterations * multiple iterations (5 * 2)
                # 5 times a and 5 times b ---- 5 + 5 = 10

10

In [130]:
for i in list1:
    for k in list2:  # first i element will iterate over all the k element(s) and then second i will iterate over all k element(s)
        intalpha.append(str(i) + " " + k)

In [131]:
intalpha

['1 a', '1 b', '2 a', '2 b', '3 a', '3 b', '4 a', '4 b', '5 a', '5 b']

In [132]:
list1 = [1,2,3,4,5]
list2 = ["a"]

In [133]:
for i in list1:
    for k in list2:
        print(str(i) + " " + k)

1 a
2 a
3 a
4 a
5 a

In [134]:
greet = ["Hi!"]
names = ["john", "micheal", "ola"]
for i in greet:
    for j in names:
        print(i + " " + j)

Hi! john
Hi! micheal
Hi! ola

### Input and datatype conversion

###### int( ) to convert into integer

###### str( ) to convert into string

###### float( ) to convert into float

In [26]:
input1 = input("Enter the cost :  ")
input1 = int(input1)

Enter the cost :  10000

In [27]:
discounted_cost = input1 * 90 / 100
discounted_cost = int(discounted_cost)
discounted_cost

9000

### Changing Case

###### list.upper() to convert into upper case

###### list.lower() to convert into lower case

###### list.title() to convert into title case

In [137]:
auth_name = ["john", "micheal", "ola"]
auth_name

['john', 'micheal', 'ola']

In [57]:
input2 = input("Enter your name: ")
input2.lower()  # it does not need to be placed in a variable

Enter your name: JOHN

'john'

In [55]:
input2 = input("Enter your name: ")
input2.lower()  # it does not need to be placed in a variable
input2           # REMEMBER! Precedence will not be followed

Enter your name: JOHN

'JOHN'

In [56]:
input2 = input("Enter your name: ")
input2.lower()  # it does not need to be placed in a variable
input2 = input2.lower() # variable assignment is necessary, in order to use it further
input2

Enter your name: JOHN

'john'

In [ ]:
for name in auth_name:
    if name == input2:
        print("You are authorized to enter!")

In [140]:
numb = [1,2,3,4,5]
numb

[1, 2, 3, 4, 5]

In [141]:
input3 = input("Enter your rank: ")
input3 = int(input3)    # It needs to placed within the variable

Enter your rank: 1

In [142]:
for i in numb:
    if i == input3:
        print("Superb, it works!")

Superb, it works!

### Dictionary

In [1]:
dict1 = {
    "first_name" : "Muhammad",
    "last_name" : "Haris",
    "nationality" : "Pakistani"
}

In [2]:
dict1 #calling all of the dictionary

{'first_name': 'Muhammad', 'last_name': 'Haris', 'nationality': 'Pakistani'}

In [60]:
dict1["nationality"] # calling single value via its key

'Pakistani'

In [145]:
my_country = dict1["nationality"] # assigning a variable

In [146]:
print(my_country)

Pakistani

In [3]:
dict2 = {
    0 : "neutral integer", # int : string
    "salary" : "why should I tell you?", # string : string
    "age" : 24, # string : int
    "height" : 5.8 # string : float 
}  # dictionaries possess hetrogenous nature

In [4]:
dict2

{0: 'neutral integer',
 'salary': 'why should I tell you?',
 'age': 24,
 'height': 5.8}

In [149]:
dict2[0]

'neutral integer'

In [5]:
dict2["height"]

5.8

### Addition in dictionary

In [7]:
dict3 = dict1

In [8]:
dict3["university"] = "N.E.D" # adding key with value in a pre-defined dictionary

In [9]:
dict3

{'first_name': 'Muhammad',
 'last_name': 'Haris',
 'nationality': 'Pakistani',
 'university': 'N.E.D'}

In [10]:
dict4 = {}  # empty dictionary

In [11]:
dict4[0] = "zero"  # filling the pre-defined empty dictionary
dict4[1] = "one"     # key not index
dict4[2] = "two"
dict4[3] = "three"

In [75]:
dict4 # proof

{0: 'zero', 1: 'one', 2: 'two', 3: 'three'}

### Removing and Changing items of a dictionary

In [76]:
del dict4[3]   # deleting an item just like in list BUT using key not index

In [77]:
dict4 # proof

{0: 'zero', 1: 'one', 2: 'two'}

###### changing

In [83]:
dict4[2] = "whatever" # changing like a list BUT using key not index

In [84]:
dict4 # proof

{0: 'zero', 1: 'one', 2: 'whatever'}

### Looping through the dictionary

In [14]:
dict5 = dict4

In [15]:
dict5[2] = "two"
dict5

{0: 'zero', 1: 'one', 2: 'two', 3: 'three'}

In [16]:
dict5.values()   # to get all the values at once

dict_values(['zero', 'one', 'two', 'three'])

In [17]:
for each_value in dict5.values():  # all the values
    print(each_value)

zero
one
two
three

In [18]:
dict1.keys() # to get all the keys

dict_keys(['first_name', 'last_name', 'nationality', 'university'])

###### by default, python will show keys of a dictionary if value() is not present in the for loop

In [19]:
for i in dict1: # all the keys
    print(i)

first_name
last_name
nationality
university

###### another method

In [20]:
for each_key in dict1.keys():
    print(each_key)

first_name
last_name
nationality
university

In [21]:
for each_key, each_value in dict1.items():
    print(each_key," : ",each_value)

first_name  :  Muhammad
last_name  :  Haris
nationality  :  Pakistani
university  :  N.E.D

In [22]:
for i,x in dict5.items():
    print("integer", i, "is called", x)

integer 0 is called zero
integer 1 is called one
integer 2 is called two
integer 3 is called three

In [23]:
dict5.items() # to get all the items of a dictionary as list of tuples

dict_items([(0, 'zero'), (1, 'one'), (2, 'two'), (3, 'three')])

### Creating a list of dictionaries

In [116]:
dict_list_steps = {
    "step1" : "initialize a list",
    "step2" : "initialize a dictionary",
    "step3" : "code first dictionary",
    "step4" : ",", # insert comma to seperate
    "step5" : "code another dictionary",
    "step6" : "repeat step 4 and step 5 then keep doing it"
}

In [117]:
dict_list_steps # follow the steps!

{'step1': 'initialize a list',
 'step2': 'initialize a dictionary',
 'step3': 'code first dictionary',
 'step4': ',',
 'step5': 'code another dictionary',
 'step6': 'repeat step 4 and step 5 then keep doing it'}

In [24]:
roll_nos = [
    { 
        'roll_no': 0,
        'first_name': 'Rizwan',
        'last_name': 'Ahmed',
        'nationality': 'Pakistani',
        'university': 'N.E.D'
    },
    { 
        'roll_no': 1,
        'first_name': 'Muhammad',
        'last_name': 'Zahid',
        'nationality': 'Pakistani',
        'university': 'N.E.D'
    },
    {
        'roll_no': 2,
        'first_name': 'Syeda',
        'last_name': 'Nida',
        'nationality': 'Pakistani',
        'university': 'N.E.D'
    }
]
roll_nos

[{'roll_no': 0,
  'first_name': 'Rizwan',
  'last_name': 'Ahmed',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 1,
  'first_name': 'Muhammad',
  'last_name': 'Zahid',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 2,
  'first_name': 'Syeda',
  'last_name': 'Nida',
  'nationality': 'Pakistani',
  'university': 'N.E.D'}]

### Picking info out of the list of dictionaries

In [25]:
student0 = roll_nos[0] # index 0 dictionary 
student0

{'roll_no': 0,
 'first_name': 'Rizwan',
 'last_name': 'Ahmed',
 'nationality': 'Pakistani',
 'university': 'N.E.D'}

In [26]:
student0_first_name = student0["first_name"]
student0_first_name

'Rizwan'

In [27]:
student123456 = roll_nos[0]['first_name'] # short method
student123456

'Rizwan'

### Adding new dictionaries to the already existing dictionary

In [31]:
good_students = student0
good_students = [good_students]
new_students = {
    'roll_no': 1,
    'first_name': 'Moiz',
    'last_name': 'Akram',
    'nationality': 'Pakistani',
    'university': 'N.E.D'}

In [32]:
good_students.append(new_students)

In [33]:
good_students

[{'roll_no': 0,
  'first_name': 'Rizwan',
  'last_name': 'Ahmed',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 1,
  'first_name': 'Moiz',
  'last_name': 'Akram',
  'nationality': 'Pakistani',
  'university': 'N.E.D'}]

###### formula to find the new_dictionary's index:
   ###### new_item_id = len(old_dictionary)  
    
   ###### since old dictionary's last item index will be len - 1
   ###### therefore, the len of old_dictionary will be
   ###### the index no. of new_item

In [34]:
new_roll_no = len(roll_nos)

In [35]:
new_roll_no

3

In [38]:
new_admit_student = {
    'roll_no': new_roll_no,
    'first_name': 'Jawad',
    'last_name': 'Akram',
    'nationality': 'Pakistani',
    'university': 'N.E.D'}

In [41]:
roll_nos.append(new_admit_student)

In [42]:
roll_nos

[{'roll_no': 0,
  'first_name': 'Rizwan',
  'last_name': 'Ahmed',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 1,
  'first_name': 'Muhammad',
  'last_name': 'Zahid',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 2,
  'first_name': 'Syeda',
  'last_name': 'Nida',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 3,
  'first_name': 'Jawad',
  'last_name': 'Akram',
  'nationality': 'Pakistani',
  'university': 'K.U.'},
 {'roll_no': 3,
  'first_name': 'Jawad',
  'last_name': 'Akram',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 3,
  'first_name': 'Jawad',
  'last_name': 'Akram',
  'nationality': 'Pakistani',
  'university': 'N.E.D'}]

### Dictionary that contains list

In [43]:
user_details = dict2
user_detail = user_details
user_detail

{0: 'neutral integer',
 'salary': 'why should I tell you?',
 'age': 24,
 'height': 5.8}

In [50]:
user_detail["qualifications"] = ["matric", "inter", "b.e", "m.com"]

In [51]:
user_detail # proof

{0: 'neutral integer',
 'salary': 'why should I tell you?',
 'age': 24,
 'height': 5.8,
 'qualifications': ['matric', 'inter', 'b.e', 'm.com']}

In [52]:
user_detail["qualifications"]

['matric', 'inter', 'b.e', 'm.com']

In [53]:
admission_chance_percent = 0
if "matric" in user_detail["qualifications"]:
    admission_chance_percent += 25
if "inter" in user_detail["qualifications"]:
    admission_chance_percent += 25
if "b.com" in user_detail["qualifications"]:
    admission_chance_percent += 25
if "m.com" in user_detail["qualifications"]:
    admission_chance_percent += 25
else:
    admission_chance_percent = 0 
print(str(admission_chance_percent),"%")

75 %

### Dictionary of Dictionaries

In [54]:
roll_nos

[{'roll_no': 0,
  'first_name': 'Rizwan',
  'last_name': 'Ahmed',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 1,
  'first_name': 'Muhammad',
  'last_name': 'Zahid',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 2,
  'first_name': 'Syeda',
  'last_name': 'Nida',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 3,
  'first_name': 'Jawad',
  'last_name': 'Akram',
  'nationality': 'Pakistani',
  'university': 'K.U.'},
 {'roll_no': 3,
  'first_name': 'Jawad',
  'last_name': 'Akram',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 {'roll_no': 3,
  'first_name': 'Jawad',
  'last_name': 'Akram',
  'nationality': 'Pakistani',
  'university': 'N.E.D'}]

In [55]:
roll_nos_dict ={
    0 :
    {'first_name': 'Rizwan',
    'last_name': 'Ahmed',
    'nationality': 'Pakistani',
    'university': 'N.E.D'},

    1 : 
    {'first_name': 'Muhammad',
    'last_name': 'Zahid',
    'nationality': 'Pakistani',
    'university': 'N.E.D'},
    2:
    {'first_name': 'Syeda',
    'last_name': 'Nida',
    'nationality': 'Pakistani',
    'university': 'N.E.D'},

    3:
    {'first_name': 'Jawad',
    'last_name': 'Akram',
    'nationality': 'Pakistani',
    'university': 'N.E.D'}
}

In [56]:
roll_nos_dict

{0: {'first_name': 'Rizwan',
  'last_name': 'Ahmed',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 1: {'first_name': 'Muhammad',
  'last_name': 'Zahid',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 2: {'first_name': 'Syeda',
  'last_name': 'Nida',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 3: {'first_name': 'Jawad',
  'last_name': 'Akram',
  'nationality': 'Pakistani',
  'university': 'N.E.D'}}

In [57]:
roll_nos_dict[2]

{'first_name': 'Syeda',
 'last_name': 'Nida',
 'nationality': 'Pakistani',
 'university': 'N.E.D'}

In [58]:
roll_nos_dict[2]["last_name"]   # dict[key(1)][key(1.1)] 
                                # 1 - first key 1.1 its part

'Nida'

### functions

###### functions MUST have definition code and calling code in order to work

###### function(a, b) = a and b are called arguments

###### ( ) - calling code

###### string or int or float can not be passed as a parameter

###### string or int or float can be passed as an argument

In [59]:
def add_funct(first_no, second_no):  # (parameter) if defining
    total_no = first_no + second_no
    print(total_no)

In [60]:
add_funct(15,5)

20

In [61]:
add_funct(1.1, 1.2)

2.3

In [62]:
def full_name():    # ()
    first_name = "Jon"
    second_name = "Eliya"
    full_name = first_name + " " + second_name
    print(full_name)

In [63]:
full_name()  # calling code

Jon Eliya

In [64]:
greetings = "Hi, World!"  # why only to say hello?! ;)

def greet_funct(greetings):  # using variable rather string
    print(greetings)

In [65]:
greet_funct(greetings)  # (argument) if calling

Hi, World!

In [66]:
quote = "talk is cheap, show me the code! -Linus Torvalds"
greet_funct(quote)

talk is cheap, show me the code! -Linus Torvalds

In [67]:
greet_funct("whatever")

whatever

### positional vs keyword arguments

In [68]:
def fullname(firstname, lastname):
    print("my full name is "+ " " + firstname + " " + lastname)

In [69]:
fullname("Muhammad", "Haris") # positional argument, order matters

my full name is  Muhammad Haris

In [70]:
fullname(lastname = "Haris", firstname = "Muhammad") # keyword argument
                                                    # order doesn't matter

my full name is  Muhammad Haris

### default value parameters

###### ONLY Keyword parameter can have default value

###### Without(W/O) Default Keyword_para must come before Default Keyword_para

In [71]:
def calc_percentage(obtained_marks = 900,total_marks = 1000):
    per = obtained_marks / total_marks
    print(per)

In [72]:
calc_percentage(obtained_marks = 850) # 1000 total marks considered as default value

0.85

In [73]:
def percentage(obtained_marks,total_marks):
    per = obtained_marks / total_marks
    print(per)

In [74]:
percentage(obtained_marks = 950, total_marks = 1000)

0.95

In [75]:
def percentage(obtained_marks, total_marks = 1100): # W/O default must come before with default
    print(obtained_marks / total_marks)

In [76]:
percentage(obtained_marks = 850)

0.7727272727272727

In [77]:
percentage(obtained_marks = 850, total_marks = 850)

1.0

### optional argument

In [78]:
def fullname(first_name,last_name,middle_name = ""): # W/O default must come before with default
    print('my full name is' + ' ' + first_name + ' ' + middle_name + ' ' + last_name)

In [79]:
fullname("Muhammad","Haris")

my full name is Muhammad  Haris

In [80]:
fullname("Muhammad","Anis","Haris") # W/O default must come before with default

my full name is Muhammad Haris Anis

In [216]:
def fullname(first_name = "",middle_name = "",last_name = ""): # default case solution
    print('my full name is' + ' ' + first_name + ' ' + middle_name + ' ' + last_name)

In [81]:
fullname("Muhammad","Haris","Anis")

my full name is Muhammad Anis Haris

###### Mixing Positional and Keyword Arguments

###### order of arguments( positional arg, keyword arg W/O defaults, Keyword arg with defaults)

In [82]:
def give_greeting(greeting, first_name):
    print(greeting + ", " + first_name)

In [83]:
give_greeting("Hello there", first_name="Haris")

Hello there, Haris

In [84]:
def give_greeting(greeting, first_name, id_number = " 42101"):
    print(greeting + ", " + first_name + id_number)
# one cannot pass parameter in the print() of function definition

In [85]:
give_greeting("Greetings", first_name = "Muhammad") # id_number acting as default
# all the arguments must be of similar data type ( str, str, str)

Greetings, Muhammad 42101

In [86]:
give_greeting("Greetings", first_name = "Muhammad", id_number = " 8988" )
# id_number acting like keyword argument without default

Greetings, Muhammad 8988

In [87]:
roll_dict = roll_nos_dict.copy()
roll_dict

{0: {'first_name': 'Rizwan',
  'last_name': 'Ahmed',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 1: {'first_name': 'Muhammad',
  'last_name': 'Zahid',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 2: {'first_name': 'Syeda',
  'last_name': 'Nida',
  'nationality': 'Pakistani',
  'university': 'N.E.D'},
 3: {'first_name': 'Jawad',
  'last_name': 'Akram',
  'nationality': 'Pakistani',
  'university': 'N.E.D'}}

In [88]:
def search_funct(dic,inner_dict,target):
    print(dic[inner_dict][target])

    # OR
def search_funct_simple():
    print(roll_dict[2]["last_name"])

In [89]:
search_funct(roll_dict,2,"last_name")

Nida

In [90]:
search_funct_simple()

Nida

### Unknown number of arguments

###### define just the variable as parameters, while defining a function
###### initialize the variable as arguments, while calling the function
###### Optional Arguments MUST come AFTER Regular Arguments
###### Optional Parameters MUST come AFTER Regular Parameter
###### optional argument to be in a dictionary use double ** in front of dictionary parameter
###### (if the optional arguments will not be passed, nothing will be displayed)
###### optional argument to be in a tuple use single * in front of dictionary parameter
###### (if the optional argumentswill not be passed, an empty tuple will be displayed)

In [91]:
def student_details(first_name, last_name, **other_info): # optional arguments
    print(first_name)
    print(last_name)
    for key, value in other_info.items():
        print(key + ": " + value)

In [92]:
student_details(first_name = "Muhammad", last_name = "Haris", school = "Institute of Applied AI Engineers", nationality = "Pakistani")

Muhammad
Haris
school: Institute of Applied AI Engineers
nationality: Pakistani

In [93]:
student_details(first_name = "Muhammad", last_name = "Haris") 
# an empty dictionary of optional positional parameters

Muhammad
Haris

In [94]:
def number_series(first_num, second_num, *others_num):
    print(first_num)
    print(second_num)
    print(others_num)

In [95]:
number_series(1,2,3,4,5)

1
2
(3, 4, 5)

In [96]:
number_series(1,2) # an empty tuple of positional parameters

1
2
()

In [97]:
number_series(1,2,3,4,5,6,7,8,9,10) # playing :D

1
2
(3, 4, 5, 6, 7, 8, 9, 10)

### Return (to pass info to other variables)

In [98]:
def tax(sales, tax_rate):
    tax = (sales * tax_rate)/100
    return tax

In [99]:
tax = tax(1000, 10)
tax = int(tax)
tax

100

###### to make it short (condensing)

In [100]:
def tax(sales, tax_rate):
    return (int((sales * tax_rate)/100))

In [101]:
tax = tax(20000, 40)
tax

8000

###### condensed operations

In [102]:
def add_funct(num1,num2):
    return num1 + num2
def sub_funct(num1,num2):
    return num1 - num2

In [103]:
total = add_funct(2,1) + sub_funct(4,3) # math operation via function 
print(str(total), " = proof = ", str((2+1)+(4-3)))

4  = proof =  4

### Scope of Variables (local vs Global)

###### global variable which is within the main body but not with in the function
###### local variable which is within the function
###### global variables can be used within the function without defining them again, while local variable cannot be used outside the function 
###### whatever will happen to global variable inside the function will not affect the same global variable outside of the function

In [104]:
def name_funct(name):
    return name

In [105]:
name = "Muhammad"

In [106]:
name_funct("Haris") # it is showing "Ali" because of the local nature

'Haris'

In [107]:
name # it is showing "Muhammad" because of the GLOBAL nature

'Muhammad'

In [108]:
first_name = "Muhammad"

In [109]:
def name_full():
    last_name = "Haris"
    return first_name + " " + last_name

In [110]:
name_full() # no need to define first_name again

'Muhammad Haris'

In [112]:
def name_full(): 
    last_name = "Anis"
    first_name = "Haris"
    return first_name + " " + last_name
name_full()

'Haris Anis'

In [113]:
first_name # whatever will happen to global variable inside the function will not affect the global variable outside of the function

'Muhammad'

### functions within functions

###### the function that is called must be earlier than the function that  calls it

In [114]:
def profit_funct(sales,profit_rate): # calculating profit based on margin
    def margin():  # function with in function
        return profit_rate / 100
    return int( sales * margin())

In [115]:
profit_funct(40000, 10)

4000

In [116]:
def now_say_it(content):
    print(content)

In [117]:
def say_something():
    what_to_say = "Hi"
    now_say_it(what_to_say)

In [118]:
say_something()

Hi

### While loop

In [1]:
users_dictionary = {
    "user1" : "Khulja Sim Sim"
    
}

In [2]:
user_input = ""
while user_input != "q":
    user_input = input("Enter the password : ")
    for key,value in users_dictionary.items():
        if user_input == value:
            print("Khulja Sim Sim!")
            user_input = "q"
        else:
            user_input2 = input("Try Again : ")
            while user_input != "q":
                if user_input2 == value:
                    print("Welcome!", key)
                    user_input = "q"
                else:
                    user_input2 = input("Try Again : ") 
        break
#break

Enter the password : value
Try Again : q
Try Again : value:
Try Again : value
Try Again : q
Try Again : Khulja Sim Sim
Welcome! user1

### while loop: Setting a flag

###### There are only two booleans i.e. True or False
###### They must be capitalized

In [3]:
number_list =["100100","100101","100102","100103","100104","100105"]
number_list

['100100', '100101', '100102', '100103', '100104', '100105']

In [4]:
keep_looping = True
while keep_looping == True:
    number_input = input("Enter a student roll number, or q to quit:")
    if number_input != "q":
        for i in number_list:
            if number_input == i:
                print("You are passed")
                break
    else:
        keep_looping = False

Enter a student roll number, or q to quit:100101
You are passed
Enter a student roll number, or q to quit:100105
You are passed
Enter a student roll number, or q to quit:q

### Classes
###### standard filled copy of a class is called instance
###### attribute - a chunck of information to be provided.

In [5]:
class Student():
    def __init__ (self, first_name):
        self.first_name = first_name

In [6]:
pid4043 = Student("Muhammad") # unique identifier needs to be different than all
                                # It's the name of the instance
                                    # the name is for first name

In [7]:
class Student():
    def __init__ (self, first_name,last_name,age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

In [8]:
pid4043 = Student('Muhammad','Haris',24) # attribute works like positional arguments

In [9]:
insurance = bool 
student_age = pid4043.age
student_age

24

In [10]:
def minor_check(student_age, insurance):
    if pid4043.age >= 21 and insurance == True:
        print("Major with insurance")
    else:
        prinnt("Minor")

In [11]:
minor_check(student_age, insurance = True)  # Student_age is a positional arg following insurance is a keyword arg

Major with insurance

In [12]:
class Student():
    def __init__ (self, first_name, last_name, age): # function in a class is called a method
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
    
    def minor_check(self):
        if self.age >= 21:
            print("Major")
        else:
            print("Minor")

In [13]:
pid4043 = Student("Muhammad","Haris",24)

In [14]:
pid4043.minor_check() # calling method

Major

In [15]:
pid4043.first_name # targeting attribute of the instance

'Muhammad'

In [16]:
class Student():
    def __init__ (self, first_name, last_name, age): # function in a class is called a method
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
    
    def minor_check(self):
        if self.age >= 21:
            print("Major")
        else:
            print("Minor")
    
    def changed_last_name(self, new_last_name):
        self.last_name = new_last_name

In [17]:
pid4047 = Student('Sue','Taleb', 61)

In [18]:
pid4047.changed_last_name("Ortega")
pid4047.last_name

'Ortega'